/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
@font-face {
    font-family: 'ProximaNovaFont';
    src: url('fonts/ProximaNovaFont.eot');
    src: url('fonts/ProximaNovaFont.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaFont.woff2') format('woff2'),
         url('fonts/ProximaNovaFont.woff') format('woff'),
         url('fonts/ProximaNovaFont.ttf') format('truetype'),
         url('fonts/ProximaNovaFont.svg#ProximaNovaFont') format('svg');
 }
/*body{
	font-size:1em;
	font-family:"ProximaNovaFont", sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	visibility:visible;
} */
#breadcrumbs{
    font-size: 14px;
}
.text-icon  .fl-module-content .storename li .address::before{
    content: "\ea7d";
    font-family: 'Ultimate-Icons' !important;
    font-size: 1.3em;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    width: auto;
}

.fl-page{
	width: auto;
}
h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1{
    text-transform: capitalize !important;
}
.text-icon .fl-module-content .fl-rich-text p{
    display:inline-block;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a{
    width: 200px; 
}
div.gform_wrapper .gfield_time_ampm select {
    max-width: 8rem!important;
    width: calc(5rem + 20px) !important;
    -webkit-appearance: none;
    background-image: url('https://assuredflooring.ca/wp-content/uploads/2020/01/drop-down-arrow.png');
    background-position: 91%;
    background-size: 8px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    max-width: 8rem!important;
}
.storename li .phone a span:before,
footer .storename li .phone a span:before{
    font-size: 18px;
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}
footer .storename li .phone a span:before{
    font-size: 18px !important;
    margin-right: 14px;
}
footer .storename li .phone a span{
    font-size: 16px;
}
footer .fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #fff;
}
footer .storename{
    padding-left: 10px !important;
}
footer .fa-phone-alt{
    display: none;
}
.fl-module-content .storename li .address a{
    color:#b7702f;
}
.fl-module-content .storename li .address a:hover{
    color: #000;
}
.fl-module-content .fl-rich-text .message a:hover{
    color: #000;
}
.fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #000;
}
.store-opening-hrs-container ul.store-opening-hrs li{
padding: 10px 50% 10px 10px;
list-style: none;
}
div.text,
div.number{
    display: inline-block;
}
ul.social-icons {
    text-align: center;
}
.gform_wrapper .gfield_checkbox li input[type=checkbox]{
    margin-top: 0px !important;
}
footer .storename li .phone a:before{
    content: " ";
    display: none;
}
.footermenu li.menu-item a{
    font-size: 14px;
    line-height: 20px;
}
.uabb-infobox-button .uabb-creative-button-text ~ i.ua-icon-arrow-down:before{
    font-size: 0;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn{
  transition:all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover{
    transition:all 0.3s;
    -moz-transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -o-transition:all 0.3s;
    -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover i.ua-icon-arrow-down:before{
    font-size: 1em;
}
.image-hover-show-description .fl-module-info-box .uabb-infobox-left-right-wrap .uabb-infobox-content {
    position: relative;
    cursor: pointer;
}
.image-hover-show-description .fl-module-info-box .uabb-infobox-left-right-wrap .uabb-infobox-content:hover .uabb-infobox-text-wrap{
    opacity: 1;
    z-index: 1;
    top: 100%;
    background-color: #fff;
    border: 3px solid #f26522;
    border-top: 0px;
}
.image-hover-show-description .fl-module-info-box .uabb-infobox-left-right-wrap .uabb-infobox-content .uabb-imgicon-wrap img{
    transition: all 0.7s;
}
.image-hover-show-description .fl-module-info-box .uabb-infobox-left-right-wrap .uabb-infobox-content:hover .uabb-imgicon-wrap img{
    transform: rotateY(180deg); 
}
.image-hover-show-description .fl-module-info-box .uabb-infobox-left-right-wrap .uabb-infobox-content .uabb-infobox-title-wrap{
    position: relative;
    
}
.image-hover-show-description .fl-module-info-box .uabb-infobox-left-right-wrap .uabb-infobox-content .uabb-infobox-text-wrap{
      position: absolute;
      top: 0px;
      z-index: -1;
      opacity: 0;
      transition: all 0.7s;
      padding: 10px 20px;
      border-radius: 0 0 10px 10px;
}
#us-map {
    display: block;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
   
  }
  
  path:hover,
  circle:hover {
    stroke: #227da7 !important;
    stroke-width: 5px;
    stroke-linejoin: round;
    fill: #028fcc !important;
    cursor: pointer;
  }
  
  #path67 {
    fill: none !important;
    stroke: #2cb3f0 !important;
    cursor: default;
  }
  
  #info-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #212121;
    color: #ffffff;
    border: 0px solid #ffffff;
    border-radius: 5px;
    padding: 15px;
    font-family: arial;
  }  
  .fl-button-wrap .fl-button{
    transition: all 0.5s;
  }
.gform_wrapper .gfield_required{
    margin-left: 0px;
}
@media (max-width:1024px){
	.locationCol .fl-col-content{
		padding: 0px 20px!important;	
	}
    .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
    .fl-page-nav-right.fl-page-header-fixed, .fl-page-header-fixed{
        display: none !important;
    }
    #responsive-menu-container div#responsive-menu-additional-content,
    #responsive-menu-container div#responsive-menu-search-box{
        padding: 5px 5%;
    }
    #responsive-menu-additional-content .storename li .phone a:before{
        margin-right: 5px !important;
    }
}
@media (max-width:768px){
	
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0;
    }
	.fl-row-content-wrap {
		text-align: left;
	}
	.fl-fade-in.fl-animated p,
	.uabb-gf-style .gform_wrapper .gform_footer{
		text-align: left !important;
	}
    .fl-page-header-logo{
        text-align: left;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 80%;
    }
    .footer-menu .fl-col-small{
        width: 25% !important;
        float: left;
        clear: none;
    }
    ul#menu-copyright-bar-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .copyright-sec-row .fl-col-small{
        width: 100%;
        text-align: center;
    }
    .copyright-sec-row .fl-col-small:first-child .fl-module-html .fl-module-content.fl-node-content{
        margin-top: 20px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
        font-size: 14px;
    }
    footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content{
        margin: 0px 10px;
    } 
    footer .fl-icon-text{
        padding-left: 0px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap span{
        padding-right: 15px;
    }
    /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
        font-size: 25px;
    } */
    .d-block .fl-row-fixed-width  .fl-col-group-equal-height{
        display: block;
    }
    .fl-builder-content .fl-button i.fl-button-icon-after {
        margin-left: -8px;
    }
    .w-100{
        width: 100%;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
        float: none;
    }
    .max-width-issue > .fl-col-content.fl-node-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .reversed .fl-col-group-responsive-reversed{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0 0 0;
    }
    button#responsive-menu-button {
        top: 60px;
    }
    .uabb-photo__gallery-filters li{
        display: block;
    }
    .gform_wrapper .gfield_time_hour i{
        margin-top: 0% !important;
    }
    .rc-anchor-normal .rc-anchor-pt {
        right: 32px !important;
    }
    .rc-anchor-normal {
        width: 300px !important;
    }
    footer .storename{
        padding-left: 0 !important;
    }
    /* .fl-module-map .fl-map:not(.fl-map-auto-responsive-disabled){
        position: static !important;
    } */
	.max-width-issue > .fl-col-content.fl-node-content {
    padding-left: 0px;
    padding-right: 0px;
    }
}
@media (max-width: 769px) {
    .desktop-tab-banner{
        display: block;
    }
    .mobile-banner{
        display: none;
    }
    header .logo-img a img{
        max-width: 200px;
    }
    .header-main-wrapper > .fl-row-content-wrap > .fl-node-content > .fl-col-group {
        align-items: center;
    }
    .fl-menu-responsive-toggle-mobile ul.menu{
        background: #f47920;
        margin-top: 12px;
    }
    #menu-main-menu-1 .menu-item a:hover{
        color: #000!important;
    }
}

@media (max-width:767px){
    
    .desktop-tab-banner{
        display: none;
    }
    .mobile-banner{
        display: block;
    }
    .fl-menu-responsive-toggle-mobile ul.menu li.current-menu-item a{
        color: #fff;
    }
    .fl-menu-responsive-toggle-mobile ul.menu li a:hover{
        color: #000;
    }
    .font-size-mobile h2.uabb-divider-text{
        font-size: 26px!important;
    }
    .footer-menu .fl-col-small{
        width: 100% !important;
    }

    .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
        max-width: 10rem!important;
        width: calc(4rem + 20px) !important;
    }
    header .logo-img a img{
        max-width: 170px;
    }
}


@media screen and (max-width: 700px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 50px;
    }
    .gform_wrapper.gravity-theme .gfield.gfield--width-half{
        grid-column: span 12!important;
    }
    .uabb-gf-style form .gform_body .gfield_label{
        font-size: 14px!important;
        line-height: 20px!important;
    }
    
}

@media screen and (max-width: 630px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 70px;
    }
}

@media screen and (max-width: 600px){

    ul#menu-copyright-bar-menu{
        flex-direction: column;
    }
    div.fl-module-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
        height: 335px;
        margin-bottom: 20px;
    }
    .fl-builder-content div.our-services{
        width: 100% !important;
    }
    .fl-builder-content div.our-services .fl-col-content {
        border-right-width: 0px;
        border-bottom-width: 1px;
    }
}
@media screen and (max-width: 410px){
    button#responsive-menu-button.responsive-menu-accessible {
        width: 35px;
        height: 35px;
    }
    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 11px;
    }
    header .logo-img a img{
        max-width: 100%;
    }
}
@media screen and (max-width: 378px){

    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 10px;
    }
}
@media screen and (max-width: 374px){
    button#responsive-menu-button.responsive-menu-accessible{
        top: 10px;
    }
    .fl-page-bar{
       display: none;
    }
}
.footer-call-to-action .uabb-dual-button .uabb-btn-horizontal{
	align-items: center;
}
.footer-call-to-action .uabb-dual-button .uabb-middle-text{
	position: relative;
	top: 0;
    left: 0;
    right: 0;
    border: 0;
    width: auto;
    height: auto;
	transform: translate(0);
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	-o-transform: translate(0);
	-ms-transform: translate(0);
	
	text-transform: uppercase;
    font-size: 18px;
    margin: 0 30px;
    font-weight: 600;
}
.no-btn a.uabb-btn{
    padding: 0 !important;
}
ul.social-icons li{
	margin: 10px;
}
ul.social-icons li a i{
	font-size: 32px;
}
ul.social-icons li a:hover i{
	color: #f68e1e !important;
}
.border-testimonial .fl-module-content{
	height: calc(100% - 40px);
}
.border-testimonial,
.border-testimonial .uabb-testimonials,
.border-testimonial .uabb-testimonials .uabb-testimonial{
	height: 100%;
}
.border-testimonial .uabb-testimonials .uabb-testimonial{
	background: transparent;
	border: 10px double #fff;
}
.border-testimonial .uabb-testimonials .testimonial-arrow-down{
	display: none;
}
#menu-main-menu > li > a:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #f47920;
    position: relative;
    top: 10px;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
	
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
}
#menu-main-menu > li > a:focus:after,
#menu-main-menu > li.current-menu-item > a:after,
#menu-main-menu > li > a:hover:after{
    transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
}
.no-btn .uabb-btn span strong {
    margin-left: 15px;
}
.no-btn .uabb-btn span{
	display: flex;
	align-items: center;
}
.storename{
	margin:0;
	padding:0;
	list-style: none;
}
.contact-form .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox .gchoice{
    display: flex;
    align-items: center;
}
.contact-form .uabb-gf-style .gform_body .gfield_captcha_container .gfield_captcha_input_container input[type="text"]{
    max-width: 250px;
}
.displayhide{
    display: none!important;
}
.call-text-inline a:hover{
    color: #f47920!important;
}